<app-header></app-header>
<!-- <router-outlet></router-outlet> -->
<style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }
    </style>
    <div class="w3-content" style="max-width:1100px">
        <!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="/assets/images/lib3.jpg" alt="Hamburger Catering" width="1600" height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
      <h1 class="w3-xxlarge">The Library</h1>
    </div>
  </header>
  <div class="w3-content" style="max-width:1100px">  

        <!-- About Section -->
        <div class="w3-row w3-padding-64" id="about">
          <div class="w3-col m6 w3-padding-large w3-hide-small">
           <img src="/assets/images/home.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="650" height="750">
          </div>
      
          <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">About Library</h1><br>
            <h5 class="w3-center">Tradition since 1889</h5>
            <p class="w3-large">Libraries are cornerstones of our communities as hubs for knowledge, research, history, and so much more. They are places where people can connect with others and invest in their own future. We know that libraries are a huge resource to every community, but how about our online communities?
               
            <p class="w3-large w3-text-grey w3-hide-medium">Your library’s website isn’t just a website, it’s an entirely separate branch of your library system. As such, it’s important to give your patrons an online experience with the same value as they would find walking through the doors of their local library. It should be clean, vibrant, and accessible to all. It should be a place where information and resources are easy to locate, with the newest and most popular things offered right up front. It should be a place that your patrons feel excited and happy to use. It’s more than a website, it’s your digital library branch.</p>
          </div>
        </div>
        
        <hr>
        
        <!-- Menu Section -->
        <div class="w3-row w3-padding-64" id="menu">
          <div class="w3-col l6 w3-padding-large">
            <h1 class="w3-center">Our Facilities</h1><br>
            <h4>Digital Library</h4>
            <p class="w3-text-grey">The City Library offers dozens of online resources that you can access anytime, anywhere. Download eBooks and digital magazines, stream music and movies, learn a new language or skill, even get homework help from a live tutor.

                Get started by exploring the following highlighted resources, by searching for resources by name or keyword, or browse all library databases</p><br>
          
            <h4>Bibliobord Library</h4>
            <p class="w3-text-grey">BiblioBoard Library features content curated by our Librarians and partner organizations, and even artwork submitted by local creatives like you! Collections include craft project ideas, virtual storytimes and theater performances, book recommendations, and archives of past Library events.

                In addition, BiblioBoard Library provides cardholders with instant and unlimited access to thousands of eBooks from local, self-published authors and top national indie authors.</p><br>
          
            <h4>Over Drive</h4>
            <p class="w3-text-grey">Offers free checkout of digital ebooks, downloadable audiobooks, and streaming movies that are compatible with iPhone, iPad, Android, Amazon Kindle Fire, and other popular mobile devices. Formats include EPUB and PDF for eBooks, MP3 and WMA for eAudiobooks, and HTML5 for streaming video.</p><br>
          
            <h4>World Book: Children's eBooks</h4>
            <p class="w3-text-grey">World Book eBooks offers a selection of kid-friendly titles from their acclaimed nonfiction series. The collection spans a variety of subjects catering to reading levels K–12, as well as offering fun interactive features including games, videos, and audio clips. These highly illustrated and engaging titles can be accessed 24/7 on desktop computers, iPad, and select Android devices.</p><br>
          
            </div>
          
          <div class="w3-col l6 w3-padding-large">
            <img src="/assets/images/lib2.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
          </div>
        </div>
      
        <hr>
      
        <!-- Contact Section -->
        <div class="w3-container w3-padding-64" id="contact">
          <h1>Contact</h1><br>
          <p>We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
          <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
          <p>You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p>
          <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
            <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p>
            <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date" value="2020-11-16T20:00"></p>
            <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required name="Message"></p>
            <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
          </form>
        </div>
        
      <!-- End page content -->
      </div>
