<app-header></app-header>
<style>
    body {
      color: #fff;
      background: #63738a;
      font-family: 'Roboto', sans-serif;
    }
      .form-control{
      height: 40px;
      box-shadow: none;
      color: #969fa4;
    }
    .form-control:focus{
      border-color: #5cb85c;
    }
      .form-control, .btn{        
          border-radius: 3px;
      }
    .moreform{
      width: 400px;
      margin: 0 auto;
      padding: 30px 0;
    }
    .moreform h2{
      color: #636363;
          margin: 0 0 15px;
      position: relative;
      text-align: center;
      }
    .moreform h2:before, .moreform h2:after{
      content: "";
      height: 2px;
      width: 30%;
      background: #d4d4d4;
      position: absolute;
      top: 50%;
      z-index: 2;
    }	
    .moreform h2:before{
      left: 0;
    }
    .moreform h2:after{
      right: 0;
    }
      .moreform .hint-text{
      color: #999;
      margin-bottom: 30px;
      text-align: center;
    }
      .moreform form{
      color: #999;
      border-radius: 3px;
        margin-bottom: 15px;
          background: #f2f3f7;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          padding: 30px;
      }
    .moreform .row mb-3{
      margin-bottom: 40px;
    }
    .signup-form input[type="checkbox"]{
      margin-top: 3px;
    }
    .moreform.btn{        
          font-size: 16px;
          font-weight: bold;		
      min-width: 140px;
          outline: none !important;
      }
    .moreform .row div:first-child{
      padding-right: 10px;
    }
    .moreform .row div:last-child{
      padding-left: 10px;
    }    	
      .moreform a{
      color: #fff;
      text-decoration: underline;
    }
      .moreform a:hover{
      text-decoration: none;
    }
    .moreform form a{
      color: #5cb85c;
      text-decoration: none;
    }	
    .moreform form a:hover{
      text-decoration: underline;
    }  
  </style>

<div class="moreform">
    <form  (ngSubmit)="editAuthor()" >
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label" >Author Name</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" id="title" name="aname"  [(ngModel)]="Authoritem.poet">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="genre" name="genre"  [(ngModel)]="Authoritem.description">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Notable Works</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" id="works" name="author"  [(ngModel)]="Authoritem.works">
        </div>
      </div>

      <!-- <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" id="des" name="des">
        </div>
      </div> -->
      <div class="row mb-3">
        <label for="img" class="col-sm-2 col-form-label"> Image Url</label>
        <div class="col-xs-6">
          <input type="text" class="form-control" id="image" name="image"  [(ngModel)]="Authoritem.image" >
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>


