<app-header></app-header>
<style>
    .login-form {
      width: 340px;
        margin: 50px auto;
    }
      .login-form form {
        margin-bottom: 15px;
          background: #f7f7f7;
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
          padding: 30px;
      }
      .login-form h2 {
          margin: 0 0 15px;
      }
      .form-control, .btn {
          min-height: 38px;
          border-radius: 2px;
      }
      .btn {        
          font-size: 15px;
          font-weight: bold;
      }
  </style>
  


        
        
        <!--/stories-->
        <div class="login-form">
          <form (ngSubmit)="loginUser()">
              <h2 class="text-center">User  Log in</h2>       
              <div class="form-group">
                  <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="User.email" required>
                  <label for="error" id="error"></label>
                </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password" name="email"  [(ngModel)]="User.password"required>
                  
              </div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"n>Log in</button>
              </div>
              <div class="clearfix">
                  <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                  <a href="#" class="pull-right">Forgot Password?</a>
              </div>        
          </form>
          <p class="text-center"><a href="/signup">Create an Account</a></p>
      </div>
        <!--/stories-->
        
        
        
      
        
      
                                                                                     
                                                  
                            
